<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sân bay Wings Airport</title>
<link rel="icon" href="{{ url_for('static', filename='images/wings_logo.png') }}" alt="logo" id="logo">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles_sanbay.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    header {
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        background-color: #0c7de6;
        background: linear-gradient(90deg, rgba(58,123,213,1) 0%, rgba(0,210,255,1) 100%);
    }
    .headerdiv {
        display: flex; 
        align-items: center;
    }
</style>
<body>
    <!-- Hiệu ứng xoay xoay -->
    <div id="preloader">
        <div class="spinner">
          <img src="{{ url_for('static', filename='images/wings.png') }}" alt="Avatar" class="avatar">
        </div>
         
    </div>
    <script src="{{ url_for('static', filename='js/san-bay/dom-preload.js') }}"></script>

    <!-- Logo và phần đầu trang -->
    <header>
        <div class="headerdiv">
            <img class="logo" src="{{ url_for('static', filename='images/wings.png') }}" alt="wings">
            <div class="text-container">
                <p class="airport-name">Sân bay Wings Airport</p>
                <p class="sub-text">Tinh Túy - Tinh Chọn - Tinh Hoa</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#" id="helpLink">TRỢ GIÚP</a></li>
                <li><a href="http://127.0.0.1:5000/admin">ĐĂNG NHẬP</a></li>
                <li><a href="#" onclick="showContainer('booking')">ĐĂNG KÝ</a></li>
                <li><a href="#" id="languageSelector">VIETNAM - TIẾNG VIỆT</a></li>
            </ul>
        </nav>
        <div id="languageModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Lựa chọn Vùng và ngôn ngữ</h2>
                <!-- Thêm các quốc gia khác -->
                <div>
                    <label for="country">Quốc gia/Vùng:</label>                 
                    <select id="country">
                        <option value="vietnam">VIETNAM</option>
                        <option value="usa">USA</option>
                        <option value="japan">Japan</option>
                        <option value="japan">Laos</option>
                        <option value="japan">Malaysia</option>
                        <option value="japan">Myanmar</option>
                        <option value="japan">Thailand</option>                   
                    </select>
                </div>
                <!-- Thêm các ngôn ngữ khác -->
                <div>
                    <label for="language">Ngôn ngữ:</label>
                    <select id="language">
                        <option value="tieng-viet">Tiếng Việt</option>
                        <option value="english">Tiếng Anh</option>
                    </select>
                </div>
                <button id="applyChoice">LỰA CHỌN</button>
            </div>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/san-bay/menu-helplink-language.js') }}"></script>

    <!-- <h2 class="w3-center">Trình Chiếu Hình Ảnh</h2> -->
    <div class="slide1-container">
        <div class="slide1-wrapper">
            <div class="slide1">
                <a href="https://www.vietnamairlines.com/vi-vn/v%C3%A9-m%C3%A1y-bay-t%E1%BB%AB-tp-h%E1%BB%93-ch%C3%AD-minh-%C4%91%E1%BA%BFn-perth" target="_blank">
                    <img src="{{ url_for('static', filename='images/header1.jpg') }}" alt="Hình Ảnh 1">
                </a>
            </div>
            <div class="slide1">
                <a href="https://www.vietnamairlines.com/vi-vn/v%C3%A9-m%C3%A1y-bay-t%E1%BB%AB-h%C3%A0-n%E1%BB%99i-%C4%91%E1%BA%BFn-siem-reap" target="_blank">
                    <img src="{{ url_for('static', filename='images/header3.jpg') }}" alt="Hình Ảnh 3">
                </a>
            </div>
            <div class="slide1">
                <a href="https://pages.vietnamairlines.com/uu-dai-thang" target="_blank">
                    <img src="{{ url_for('static', filename='images/header4.jpg') }}" alt="Hình Ảnh 4">
                </a>
            </div>
            <div class="slide1">
                <a href="https://www.vietnamairlines.com/vi-vn/uu-dai-sang-som-toi-muon-vietnam-airlines" target="_blank">
                    <img src="{{ url_for('static', filename='images/header5.jpg') }}" alt="Hình Ảnh 5">
                </a>
            </div>
        </div>
        <div class="dots"></div>
    </div>
    <script src="{{ url_for('static', filename='js/san-bay/slide-anhto.js') }}"></script>

    <!-- Đăng ký khách hàng, đặt chỗ, tra cứu -->
    <div class="navbar">
        <div id="nav-booking" onclick="showContainer('booking')">ĐĂNG KÝ KHÁCH HÀNG</div>
        <div id="nav-manage" onclick="showContainer('manage')">ĐẶT CHỖ</div>
        <div id="nav-checkin" onclick="showContainer('checkin')">TRA CỨU CHUYẾN BAY, LỊCH BAY</div>
    </div>
    <div class="overlay1" id="overlay1"></div>

    <!-- Đăng ký khách hàng -->
    <div class="container" id="booking-container" style="display: none;">
        <form id="customer-form">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="customer-id">Mã khách hàng</label>
                    <input type="text" id="customer-id" name="customer-id" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="customer-phone">Số điện thoại</label>
                    <input type="tel" id="customer-phone" name="customer-phone" pattern="[0-9]{10}" required>
                    <label for="customer-address">Địa chỉ</label>
                    <input type="text" id="customer-address" name="customer-address" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="customer-last-name">Họ đệm</label>
                    <input type="text" id="customer-last-name" name="customer-last-name" required>
                    <label for="customer-first-name">Tên khách hàng</label>
                    <input type="text" id="customer-first-name" name="customer-first-name" required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" style="width: 150px;">Đăng ký</button>
            </div>
        </form>
    </div>

    <!-- ĐẶT CHỖ -->
    <div class="container" id="manage-container" style="display: none;">
        <form id="bookingForm" action="{{ url_for('them_dat_cho_fe') }}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customer-email">Địa chỉ email:</label>
                    <input type="email" id="customer-email" name="customer-email" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="manage-customer-id">Mã khách hàng:</label>
                    <input type="text" id="manage-customer-id" name="customer-id" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="manage-flight-id">Mã chuyến bay:</label>
                    <select id="manage-flight-id" name="flight-id" required>
                        <option value="">-- Chọn Mã chuyến bay --</option>
                        <!-- Các option sẽ được thêm bằng JavaScript -->
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="manage-departure-datetime">Giờ đi:</label>
                    <input type="datetime-local" id="manage-departure-datetime" name="departure-datetime" required readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="manage-arrival-datetime">Giờ đến:</label>
                    <input type="datetime-local" id="manage-arrival-datetime" name="arrival-datetime" required readonly>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Đặt chỗ</button>
            </div>
        </form>
    </div>

    <!-- TRA CỨU CHUYẾN BAY, LỊCH BAY -->
    <div class="container" id="checkin-container" style="display: none;">
        <form id="search-flight-form">
            <p>Tìm kiếm mã chuyến bay:</p>
            <input type="text" name="query" placeholder="Nhập từ khóa tìm kiếm VD: CB0000001..." required>
            <input type="hidden" name="type" value="flight">
            <button type="submit" style="background:#007BFF; border-style: none; color:hsl(0, 100%, 99%);  border-radius: 5px;  padding: 5px">Tìm kiếm</button>
        </form>
        <form id="search-airport-form">
            <p>Tìm kiếm sân bay:</p>
            <input type="text" name="query" placeholder="Nhập từ khóa tìm kiếm VD: Sân Bay Nội Bài..." required>
            <input type="hidden" name="type" value="airport">
            <button type="submit" style="background:#007BFF; border-style: none; color:#ffffff;  border-radius: 5px;  padding: 5px">Tìm kiếm</button>
        </form>
        <div class="table-container">
            <table id="flight-table">
                <thead>
                    <tr>
                        <th>Mã chuyến bay</th>
                        <th>Số hiệu máy bay</th>
                        <th>Mã loại máy bay</th>
                        <th>Sân bay đi</th>
                        <th>Sân bay đến</th>
                        <th>Ngày và giờ đi</th>
                        <th>Ngày và giờ đến</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dữ liệu sẽ được thêm vào đây bằng JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/san-bay/fe-link-be.js') }}"></script>

    <script src="{{ url_for('static', filename='js/san-bay/an-khi-tat.js') }}"></script>
    <div class="services-container">
        <div class="horizontal">
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1716538519959.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">HÀNH LÝ TRẢ TRƯỚC</a></p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1718093397926.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">NÂNG HẠNG & CHỌN CHỖ</a></p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1718094132429.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">MUA SẮM</a></p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1718093731060.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">KHÁCH SẠN & TOUR</a></p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1716538519959.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">BẢO HIỂM</a></p>
            </div>
            <div class="item">
                <img src="{{ url_for('static', filename='images/Remove-bg.ai_1718093853650.png') }}" alt="m">
                <p><a href="#" onclick="showAlert('Tính năng đang được phát triển!')">DỊCH VỤ KHÁC</a></p>
            </div>
        </div>
    </div>

    <!-- Thanh thông báo -->
    <div class="notification-bar">
        <div class="notification-content" id="notification-content">
            <!-- Nội dung thông báo ban đầu sẽ được thiết lập bằng JavaScript -->
        </div>
        <div class="notification-nav">
            <button onclick="prevNotification()">&#9664;</button>
            <span id="notification-count">1/4</span>
            <button onclick="nextNotification()">&#9654;</button>
        </div>
        <div class="notification-more">
            <a href="https://www.vietnamairlines.com/vn/vi/vietnam-airlines/press-room/news" id="notification-more-link">Xem thêm</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/san-bay/tin-tuc.js') }}"></script>

    <hr style="height: 0.7px; background-color: rgb(0, 0, 0);">

    <!-- Khám phá các chuyến bay phổ biến -->
    <h2 class="khampha">Khám Phá Các Chuyến Bay Phổ Biến Nhất Của Chúng Tôi</h2>
    <div style="margin-left: 10.5%;">
        <div class="dropdown">
            <a href="#" onclick="toggleDropdown(event, 'dropdownContent1')">Nhấn vào đây để hiển thị các lựa chọn</a>
            <div class="dropdown-content" id="dropdownContent1">
                <!-- Các lựa chọn sẽ được thêm vào đây bằng JavaScript -->
            </div>
        </div>
        <div class="dropdown">
            <a href="#" onclick="toggleDropdown(event, 'dropdownContent2')">Ngân sách</a>
            <div class="dropdown-content" id="dropdownContent2">
                <a href="#" onclick="filterByBudget(event, 'low')">Dưới 1 triệu VND</a>
                <a href="#" onclick="filterByBudget(event, 'medium')">1 - 1.5 triệu VND</a>
                <a href="#" onclick="filterByBudget(event, 'high')">Trên 1.5 triệu VND</a>
            </div>
        </div>
    </div>
    <div class="image-grid">
        <div class="row" id="row1"></div>
        <div class="row" id="row2" style="display: none;"></div>
        <div class="row" id="row3" style="display: none;"></div>
    </div>
    <button style="margin-top: 1%;" id="view-more-btn" onclick="toggleAdditionalImages()">Xem thêm</button>

    <script>
        const flightRoutes = [
            { from: "Hà Nội", to: "Đà Nẵng", image: "{{ url_for('static', filename='images/danang1.jpg') }}", link: "https://pixabay.com/vi/images/search/%C4%91%C3%A0%20n%E1%BA%B5ng/", price: "1,500,000 VND" },
            { from: "Hà Nội", to: "Hạ Long", image: "{{ url_for('static', filename='images/halong1.jpg') }}", link: "https://pixabay.com/vi/images/search/v%E1%BB%8Bnh%20h%E1%BA%A1%20long/", price: "800,000 VND" },
            { from: "TP Hồ Chí Minh", to: "Đà Nẵng", image: "{{ url_for('static', filename='images/danang3.jpg') }}", link: "https://pixabay.com/vi/images/search/%C4%91%C3%A0%20n%E1%BA%B5ng/", price: "1,200,000 VND" },
            { from: "Hà Nội", to: "TP Hồ Chí Minh", image: "{{ url_for('static', filename='images/du-lich-sai-gon-1.webp') }}", link: "https://www.pexels.com/vi-vn/tim-kiem/th%C3%A0nh%20ph%E1%BB%91%20h%E1%BB%93%20ch%C3%AD%20minh/", price: "1,800,000 VND" },
            { from: "Hà Nội", to: "Sa Pa", image: "{{ url_for('static', filename='images/sapa.jpg') }}", link: "https://pixabay.com/vi/images/search/sapa/", price: "1,000,000 VND" },
            { from: "TP Hồ Chí Minh", to: "Ninh Bình", image: "{{ url_for('static', filename='images/ninhbinh.jpg') }}", link: "https://pixabay.com/vi/images/search/ninh%20binh/", price: "1,600,000 VND" },
            { from: "Hà Nội", to: "Hội An", image: "{{ url_for('static', filename='images/hoian.jpeg') }}", link: "https://anhdephd.vn/hinh-anh-hoi-an/", price: "1,400,000 VND" },
            { from: "TP Hồ Chí Minh", to: "Hà Nội", image: "{{ url_for('static', filename='images/dong-phong-nha.jpg') }}", link: "https://www.pexels.com/vi-vn/tim-kiem/h%C3%A0%20n%E1%BB%99i/", price: "1,800,000 VND" },
            { from: "Hà Nội", to: "Nha Trang", image: "{{ url_for('static', filename='images/nhatrang.jpg') }}", link: "https://toigingiuvedep.vn/hinh-anh-nha-trang/", price: "1,700,000 VND" },
            { from: "Huế", to: "Hà Nội", image: "{{ url_for('static', filename='images/hanoi1.jpg') }}", link: "https://www.pexels.com/vi-vn/tim-kiem/h%C3%A0%20n%E1%BB%99i/", price: "1,500,000 VND" },
            { from: "Hà Nội", to: "Quảng Bình", image: "{{ url_for('static', filename='images/dong-phong-nha.jpg') }}", link: "https://top10quangbinh.vn/hinh-anh-quang-binh/", price: "1,300,000 VND" },
            { from: "Đà Lạt", to: "TP Hồ Chí Minh", image: "{{ url_for('static', filename='images/hcm.jpg') }}", link: "https://www.pexels.com/vi-vn/tim-kiem/th%C3%A0nh%20ph%E1%BB%91%20h%E1%BB%93%20ch%C3%AD%20minh/", price: "900,000 VND" }
        ];        
        let showAllImages = false;

        function populateDropdown() {
            const dropdown = document.getElementById('dropdownContent1');
            const uniqueRoutes = [...new Set(flightRoutes.map(route => `${route.from} đến ${route.to}`))];           
            uniqueRoutes.forEach(route => {
                const a = document.createElement('a');
                a.href = '#';
                a.textContent = route;
                a.onclick = (event) => {
                    event.preventDefault();
                    filterImages(route);
                };
                dropdown.appendChild(a);
            });
        }
        
        function filterImages(selectedRoute) {
            const rows = [document.getElementById('row1'), document.getElementById('row2'), document.getElementById('row3')];
            rows.forEach(row => row.innerHTML = '');
            
            const filteredRoutes = flightRoutes.filter(route => `${route.from} đến ${route.to}` === selectedRoute);
            displayImages(filteredRoutes);
        }        
        function displayImages(routes) {
        const rows = [document.getElementById('row1'), document.getElementById('row2'), document.getElementById('row3')];
        rows.forEach(row => {
            row.innerHTML = '';
            row.style.display = 'none';
        });
        
        const displayCount = showAllImages ? routes.length : Math.min(4, routes.length);

        for (let i = 0; i < displayCount; i++) {
            const route = routes[i];
            const rowIndex = Math.floor(i / 4);
            const row = rows[rowIndex];
            row.style.display = 'flex';
            
            const div = document.createElement('div');
            div.className = 'image-container';
            div.innerHTML = `
                <a href="${route.link}" target="_blank">
                    <img src="${route.image}" alt="${route.from} to ${route.to}">
                </a>
                <div class="text">
                    <div>Từ ${route.from} đến ${route.to}</div>
                    <div class="price">${route.price}</div>
                </div>
            `;
            row.appendChild(div);
            
            setTimeout(() => {
                div.classList.add('show');
            }, 50 * i);
        }
    }
        function toggleAdditionalImages() {
            showAllImages = !showAllImages;
            displayImages(flightRoutes);
            document.getElementById('view-more-btn').textContent = showAllImages ? "Thu gọn" : "Xem thêm";
        }
        
        function toggleDropdown(event, id) {
            event.preventDefault();
            document.getElementById(id).classList.toggle("show");
        }
        
        function filterByBudget(event, budgetLevel) {
            event.preventDefault();
            let filteredRoutes;
            switch (budgetLevel) {
                case 'low':
                    filteredRoutes = flightRoutes.filter(route => parseInt(route.price.replace(/[^0-9]/g, '')) < 1000000);
                    break;
                case 'medium':
                    filteredRoutes = flightRoutes.filter(route => {
                        const price = parseInt(route.price.replace(/[^0-9]/g, ''));
                        return price >= 1000000 && price <= 1500000;
                    });
                    break;
                case 'high':
                    filteredRoutes = flightRoutes.filter(route => parseInt(route.price.replace(/[^0-9]/g, '')) > 1500000);
                    break;
                default:
                    filteredRoutes = flightRoutes;
            }
            displayImages(filteredRoutes);
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            populateDropdown();
            displayImages(flightRoutes);
        });
        
        window.onclick = function(event) {
            if (!event.target.matches('.dropdown a')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <br><div class="dropdown-note" style="text-align: center; font-size: 11px;">*Giá vé hiển thị được thu thập trong vòng 48 giờ và có thể không còn hiệu lực tại thời điểm đặt chỗ. Chúng tôi có thể thu thêm phí và lệ phí cho một số sản phẩm và dịch vụ.</div>

    <!-- Thông tin nổi bật -->
    <div class="section-title">
        <span>Thông tin nổi bật</span>
    </div>
    
    <!-- slide chuyển cảnh -->
    <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/business-class/meals-and-drinks-intro" target="_blank">
                    <img src="{{ url_for('static', filename='images/image9.png') }}" alt="Image 1">
                    <div class="text">Ẩm thực trên mây hạng Thương gia</div>
                </a>
            </div>
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/premium-economy-class/meals-and-drinks-intro" target="_blank">
                    <img src="{{ url_for('static', filename='images/image10.png') }}" alt="Image 2">
                    <div class="text">Ẩm thực hạng Phổ thông đặc biệt</div>
                </a>
            </div>
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/economy-class/meals-and-drinks-intro" target="_blank">
                    <img src="{{ url_for('static', filename='images/image11.png') }}" alt="Image 3">
                    <div class="text">Ẩm thực hạng Phổ thông</div>
                </a>
            </div>
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/business-class" target="_blank">
                    <img src="{{ url_for('static', filename='images/image12.png') }}" alt="Image 4">
                    <div class="text">Hạng Thương Gia</div>
                </a>
            </div>
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/premium-economy-class" target="_blank">
                    <img src="{{ url_for('static', filename='images/image13.png') }}" alt="Image 5">
                    <div class="text">Hạng Phổ Thông Đặc Biệt</div>
                </a>
            </div>
            <div class="slide">
                <a href="https://www.vietnamairlines.com/vn/vi/plan-book/experience/entertainment" target="_blank">
                    <img src="{{ url_for('static', filename='images/image14.png') }}" alt="Image 6">
                    <div class="text">Dịch vụ trên không</div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="dots1"></div>
    
    <style>
    .slide {
        transition: transform 0.3s ease;
    }
    .slide:hover {
        transform: scale(1.05);
    }
    </style>

    <script src="{{ url_for('static', filename='js/san-bay/slide-kham-pha.js') }}"></script>
        
    <script src="{{ url_for('static', filename='js/san-bay/dom-xoay.js') }}"></script>
      
    <div class="section-title">
        <span>Đăng ký E-Newsletter</span>
    </div>
    <p style="text-align:center;">Đăng ký E-Newsletter để cập nhật các thông tin, ưu đãi mới nhất. (Không bao gồm các thông tin, ưu đãi từ chương trình Bông Sen Vàng)</p>
    <div class="container1">
        <form id="newsletter-form">
            <div class="form-group1">
                <label for="email">Địa chỉ Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div id="additional-fields" style="display: none;">
                <div class="form-group">
                    <label for="language">Ngôn ngữ</label>
                        <select id="language" name="language">
                            <option value="tieng-viet">Tiếng Việt</option>
                            <option value="english">English</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="salutation">Danh xưng</label>
                    <select id="salutation" name="salutation">
                        <option value="mr">Ông</option>
                        <option value="ms">Bà</option>
                        <option value="miss">Cô</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="last_name">Họ</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="first_name">Tên</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="country">Quốc Gia/Vùng</label>
                    <select id="country" name="country">
                        <option value="vietnam">Vietnam</option>
                        <option value="usa">United States</option>
                        <option value="canada">Canada</option>
                        <option value="uk">United Kingdom</option>
                        <option value="australia">Australia</option>
                        <option value="france">France</option>
                        <option value="germany">Germany</option>
                        <option value="japan">Japan</option>
                        <option value="south_korea">South Korea</option>
                        <option value="china">China</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="privacy_policy" name="privacy_policy" required>
                    <label for="privacy_policy">Tôi đã đọc, đồng ý với các điều khoản của <a href="#">Chính sách bảo mật</a> và xác nhận rằng tôi đã đủ 16 tuổi.</label>
                </div>
                <button type="submit">ĐĂNG KÝ</button>
            </div>
        </form>
    </div><br>

    <script src="{{ url_for('static', filename='js/san-bay/send-mail.js') }}"></script>
    <!-- Chân trang -->
    <div  class="header1">
        <img src="{{ url_for('static', filename='images/Remove-bg.ai_1719194895104.png') }}" alt="header1">
        <span>
            Wings Airport tự hào là Sân bay hàng không quốc tế 4 sao <br>
            Xin trân trọng cảm ơn sự đồng hành của Quý khách và bạn hàng!
        </span>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3 style="color: rgb(255, 187, 0)">Wings Airlines</h3>
                <a href="#" onclick="showAlert('Thông tin về Wings Airlines')">Giới Thiệu Công Ty</a>
                <a href="#" onclick="showAlert('Thông tin về đội bay của Wings Airlines')">Đội Bay</a>
                <a href="#" onclick="showAlert('Danh sách đối tác của Wings Airlines')">Đối tác</a>
                <a href="#" onclick="showAlert('Thông tin truyền thông về Wings Airlines')">Thông Tin Truyền Hình</a>
                <a href="#" onclick="showAlert('Các hoạt động trách nhiệm xã hội của Wings Airlines')">Trách Nhiệm Xã Hội</a>
                <a href="#" onclick="showAlert('Thông tin quan hệ cổ đông của Wings Airlines')">Quan Hệ Cổ Đông</a>
                <a href="#" onclick="showAlert('Thông tin đấu thầu của Wings Airlines')">Thông Tin Đấu Thầu</a>
                <a href="#" onclick="showAlert('Cơ hội việc làm tại Wings Airlines')">Việc Làm Với Wings Airlines</a>
            </div>
            <div class="footer-column">
                <h3 style="color: rgb(255, 187, 0)">Pháp Lý</h3>
                <a href="#" onclick="showAlert('Các điều kiện và điều khoản sử dụng dịch vụ')">Các Điều Kiện & Điều Khoản</a>
                <a href="#" onclick="showAlert('Điều lệ vận chuyển của Wings Airlines')">Điều Lệ Vận Chuyển</a>
                <a href="#" onclick="showAlert('Điều kiện sử dụng cookies trên website')">Điều Kiện Sử Dụng Cookies</a>
                <a href="#" onclick="showAlert('Chính sách bảo mật thông tin khách hàng')">Bảo Mật Thông Tin</a>
                <a href="#" onclick="showAlert('Quy chế hoạt động sàn thương mại điện tử')">Quy Chế Hoạt Động Sàn TMĐT</a>
            </div>
            <div class="footer-column">
                <h3 style="color: rgb(255, 187, 0)">Hỗ Trợ</h3>
                <a href="#" onclick="showAlert('Gửi góp ý về dịch vụ của Wings Airlines')">Góp Ý Dịch Vụ</a>
                <a href="#" onclick="showAlert('Trung tâm trợ giúp khách hàng')">Trung Tâm Trợ Giúp</a>
                <a href="#" onclick="showAlert('Thông tin liên hệ các chi nhánh của Wings Airlines')">Liên Hệ Với Chi Nhánh Của VNA</a>
                <a href="#" onclick="showAlert('Chính sách bảo vệ hành khách của Wings Airlines')">Chính Sách Bảo Vệ Hành Khách</a>
                <a href="#" onclick="showAlert('Trợ lý ảo của Wings Airports')">Trợ Lý Ảo Của Wings Airports</a>
                <a href="#" onclick="showAlert('Tải ứng dụng di động của Wings Airlines')">Ứng Dụng Di Động</a>
            </div>
            <div class="footer-column">
                <h3 style="color: rgb(255, 187, 0)">Vận Tải</h3>
                <a href="#" onclick="showAlert('Thông tin về dịch vụ vận chuyển hàng hóa')">Trang Web Hàng Hoá</a>
            </div>
            <div class="footer-column">
                <h3 style="color: rgb(255, 187, 0)">Thông Tin</h3>
                <a href="#" onclick="showAlert('Thông tin hợp tác với chương trình')">Hợp Tác Với Chương Trình</a>
                <a href="#" onclick="showAlert('Thông tin về Capybara')">Capybara</a>
                <a href="#" onclick="showAlert('Cẩm nang du lịch từ Wings Airlines')">Cẩm Nang Du Lịch</a>
                <a href="#" onclick="showAlert('Thông tin quảng cáo với Wings Airports')">Quảng Cáo Với Wings Airports</a>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/san-bay/alert-noti.js') }}"></script>
          
        <div class="footer-container">
            <div class="footer-column">
                <a href="#">
                <img src="{{ url_for('static', filename='images/skyteam_logo_ft.webp') }}" alt="Image 1" width="150px">

                <a href="https://www.facebook.com/VietnamAirlines">
                <img src="{{ url_for('static', filename='images/icon-facebook.png') }}" alt="Image 2" width="30px">

                <a href="https://www.youtube.com/user/vietnamairlinescorp">
                <img src="{{ url_for('static', filename='images/icon_youtube.png') }}" alt="Image 3" width="30px">

                <a href="https://www.instagram.com/vietnamairlines/">                  
                <img src="{{ url_for('static', filename='images/icon-instagram.png') }}" alt="Image 4" width="30px">

                <a href="https://www.vietnamairlines.com/vn/vi/sitemap">
                <p>Đại Lý| Sơ đồ website</p></a>
            </div>
            <div class="footer-column">
                <div class="contact-info">
                    <div class="contact-line">
                        <img src="{{ url_for('static', filename='images/icondt.webp') }}" alt="Phone Icon" width="20px">
                        <span>Trung tâm chăm sóc khách hàng Việt Nam (24/7): 1999 9999</span>
                    </div>
                    <div class="contact-line">
                        <img src="{{ url_for('static', filename='images/icondt.webp') }}" alt="Phone Icon" width="20px">
                        <span>Trung tâm chăm sóc Hội viên Bông Sen Vàng (24/7): 1999 8888</span>
                    </div>
                    <div class="contact-line">
                        <img src="{{ url_for('static', filename='images/iconemail.png') }}" alt="Email Icon" width="20px">
                        <span>Email: Telesales@wingsairlines.com</span>
                    </div>
                </div>
                <img src="{{ url_for('static', filename='images/logo-footer-small-2.png') }}" alt="Logo" width="300px">
            </div>
            <div class="footer-column">
                <img src="{{ url_for('static', filename='images/img-logo-partner-1.png') }}" alt="Image 1"  width="100px"> 
                <img src="{{ url_for('static', filename='images/img-logo-partner-2.png') }}" alt="Image 2"  width="30px"> 
                <img src="{{ url_for('static', filename='images/img-logo-partner-3.png') }}" alt="Image 3"  width="30px"> 
                <a style="text-decoration: none;" href="https://www.vietnamairlines.com/vn/vi/our-awards">
                <p>Giải thưởng</p></a>              
            </div>
        </div>
        <hr>
        <pre class="footer-info">© 2024 Wings Airlines JSC
            Tổng công ty Hàng không Bình Nam - CTCP. Số 999 Trần Bình, P.Nam Nguyễn, Q.Vinh Quang, Hà Nội.
            Điện thoại: (+84-24) 38272289. Fax: (+84-24) 38722375.
            Giấy chứng nhận đăng ký doanh nghiệp, mã số doanh nghiệp: 0999999999, đăng ký lần đầu ngày 32/6/2010, đăng ký thay đổi lần thứ 9 ngày 32/01/2022, cấp bởi Sở KHĐT thành phố Hà Nội.</pre>
        <div class="footer-column">
            <img src="{{ url_for('static', filename='images/dathongbao.webp') }}" alt="Image 1"  width="100px"> 
            <img src="{{ url_for('static', filename='images/dadangky.webp') }}" alt="Image 2"  width="100px"> 
            <img src="{{ url_for('static', filename='images/PCI_DSS_CERTIFIED-38.webp') }}" alt="Image 3"  width="80px">            
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/san-bay/language-switch.js') }}"></script>
</body>
</html>